services:
  facturacion-api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: agente-facturacion-api
    ports:
      - "8000:8000"
    env_file:
      - .env
    networks:
      - chatbot_network
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

networks:
  chatbot_network:
    driver: bridge